.hero-section .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-section {
    padding-top: 6em;
}

.hero-heading span {
    font-size: 30px;
}

.hero-section .content {
    margin-bottom: 9em;
}

.secondary-feature-card-item-name {
    font-size: 14px;
    font-weight: 400;
    margin: 0%;
    padding: 0%;
}

.secondary-feature-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;
    max-width: 1024px;
    margin: auto;
}

.secondary-feature-section {
    padding: 2em;
    background: radial-gradient(74.52% 74.52% at 50% 25.48%, rgba(233, 240, 255, 0.52) 0%, rgba(255, 255, 255, 0.52) 100%);
    padding-top: 72px;
}

.secondary-feature-card {
    border: 1px solid #E6E9EF;
    border-radius: 12px;
    padding: 1em;
    margin: 0%;
    background: white;
    border: 1px solid #E6E9EF;
    box-shadow: 0 4px 4px 0 rgba(232, 242, 254, 0.45);
}

.secondary-feature-card-caption {
    margin-top: 1em;
}


.secondary-feature-card-icon-wrapper {
    padding: 9px;
    background: #EFF6FF;
    width: fit-content;
    border-radius: 9px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-feature-card-icon-wrapper svg {
    height: 22px;
    width: auto;
}

.note-wrapper {
    background: rgb(239, 246, 255);
    border-radius: 6px;
    padding: 9px;
    margin: 2em auto auto;
    max-width: 1024px;
}

.note {
    color: #286FED;
    font-size: 14px;
    text-align: center;
    padding: 0%;
    margin: 0%;

}

.primary-service-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    max-width: 1024px;
    max-width: 1200px;
    margin: auto;
}


.primary-service-card-head-item-heading {
    font-size: 24px;
    color: rgb(0, 38, 114);
    line-height: 1.5;
    font-weight: 600;
}

.primary-service-card-head-item-subheading {
    font-size: 16px;
    color: #475569;
    line-height: 1.5;
    min-height: 82px;
}

.point-list-item {
    color: #475569;
}

.primary-point-list {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    display: grid;
    gap: 9px;
}

.point-list-item {
    background: #FDFDFD;
    border: 1px solid #F6F7F7;
    padding: 9px;
    border-radius: 9px;
    font-size: 16px;

}

.point-list-title {
    color: #002672;
    font-size: 14px;
    font-weight: 600;
    margin: 0% 0 1em 0;
}

.primary-service-card {
    border: 1px solid #E6E9EF;
    border-radius: 9px;
}



.primary-service-card .primary-service-card-icon-wrapper {
    padding: 9px;
    background: #EFF6FF;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.primary-service-card .primary-service-card-icon-wrapper svg {
    width: auto;
    height: 38px;
}

.primary-service-card-footer .point-list-item {
    padding: 0%;
    border: none;
    font-size: 14px;
    background: transparent;
}

.primary-service-card-footer .primary-point-list {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.primary-service-card-footer {
    padding: 1em;
    background: #F7F9FF;
}


.primary-service-card-head,
.primary-service-card-body,
.primary-service-card-footer {
    padding: 2em;
}

.primary-service-card-body {
    padding-top: 0%;
}

.primary-service-card-head {
    padding-bottom: 1em;
}

.primary-service-card-footer {
    border-top: 1px solid #286FED;
}

.primary-service-card-footer .point-list-item::before {
    content: " ";
    display: block;
    height: 6px;
    width: 6px;
    background: #286FED;
    clip-path: circle();
}

.primary-service-card-footer .point-list-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.leadership-tab-buttom {
    font-size: 14px;
}

.leadership-tab-button-wrapper {
    margin-bottom: 2em;
}

.secondary-feature-card-item-description {
    font-size: 14px;
    color: #475569;
}

.secondary-feature-card-item-name {
    color: #002672;
    font-weight: 500;
}

.primary-service-section {
    padding-top: 72px;
}

.leadership-section {
    padding-top: 72px;
}

@media (max-width: 600px) {
    .legacy-navbar nav {
        display: none;
    }

    .navbar {
        border-radius: 12px;
        margin: 1em 1em;
        padding: 1em 1em;
        position: fixed;
        z-index: 9999;
        left: 0%;
        right: 0%;
        top: 0px;
        background: white;
    }



    .hero-section .content-wrapper {
        display: block;
        display: flex;
        flex-direction: column;
    }

    .primary-service-grid {
        grid-template-columns: 1fr;
    }

    .leadership-tab-button-wrapper {
        flex-direction: column;
    }

    .leadership-card {
        display: flex;
        gap: 2em;
        align-items: center;
        padding: 2em;
        border-radius: 12px;
        flex-direction: column;
        text-align: center;
    }

    .footer-menu-wrapper {
        grid-template-columns: 1fr;
    }

    .footer-brand img {
        width: auto;
        height: 28px;
    }

    .footer-copyright-wrapper {
        flex-direction: column;
    }

    .hero-heading {
        font-family: var(--ff-primary);
        font-size: 36px;
        font-weight: 700;
        color: var(--clr-primary);
        max-width: 490px;
        color: #286FED;
        text-align: center;
        margin-bottom: 1em;
    }

    .hero-section {
        padding: 9em 1em 2em 1em;
    }

    .hero-heading span {
        font-size: 36px;
    }

    .cta-btn {
        padding: 1em 22px;
    }

    .hero-section .content {
        margin-bottom: 3em;
    }

    .section-header .section-header-title {
        font-size: 24px;
    }

    .section-header .section-header-title br {
        display: none;
    }

    .secondary-feature-section {
        padding: 2em 1em;
    }

    .note {
        line-height: 1.5;
    }

    .primary-service-section {
        padding: 2em 1em;
    }

    .leadership-section {
        padding: 2em 1em;
        background: #FFFFFF;
    }

    .cta-title {
        font-size: 18px;
    }


}

.section-header .section-header-title {
    font-family: var(--ff-primary);
    font-size: 36px;
    color: var(--clr-primary);
    text-align: center;
    margin-bottom: 16px;
    color: #0C1B56;
    font-weight: 600;
}

.secondary-feature-card-item-name {
    font-size: 16px;
    font-weight: 600;
    margin: 0%;
    padding: 0%;
}
